* {
    box-sizing: border-box;
    color: black;
    font-family: 'EB Garamond', serif;
    text-decoration: none;
}

body {
    background-color: 	#f3c681;
}

.est {
    font-size: 17px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.emailHome {
    display: flex;
    font-size: 17px;
    justify-content: center;
    margin: 7px;
}

/* .Bdatum {
    display: flex;
    justify-content: right;
} */

/* navbar */
.nav2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: 	#ffac0e;
}

li a {
    display: block;
    padding: 8px;
    background-color: 	#ffac0e;
    border-radius: 15px;
}

li a:hover {
    background-color: 	#b61500;
    transition-duration: 0.5s;
}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    padding: 8px;
    border-radius: 15px;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: 	#b61500;
    transition-duration: 0.5s;
  }
  
  .inloggen-registreren {
    display: none;
    position: absolute;
    background-color: 	#feb329;
    min-width: 160px;
    border-radius: 15px;
    height: auto;
    
  }
  
  .inloggen-registreren a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 15px;
  }
  
  .inloggen-registreren a:hover {
    background-color: 		#fbae89;
  }
  
  .dropdown:hover .inloggen-registreren {
    display: block;
  }

  /* inloggen en registreren */
.formulierRegistrerenEnInloggen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 17px;
}

.Uitloggen {
    background-color: #feb329;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    cursor:pointer;
    display: flex;
}

.Uitloggen:hover {
    color: 	#b61500;
}

/* */
.footer {
    display: flex;
    justify-content: center;
}
/*lijst*/
.lijst {
    background-color:#ffac0e;
    height: 480px;
    width: 300px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.pizza {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.home {
    display: flex;
    justify-content: space-evenly;
}

.dropdownNumbers {
    font-size: 18px;
    margin: 6px;
}

.BOA {
    font-size: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/* form */
.formulier {
    display: flex;
    justify-content: space-around;
    font-size: 17px;
}
  
.button1 {
    background-color: #ffac0e;
    border: none;
    height: 100px;
    width: 300px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;  
    font-size: 18px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a {
    height: 100px;
    width: 300px;
}

.button1:hover {
    background-color: 	#f8c466;
    transition-duration: 0.5s;
}


.BesteldGegevens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.voltooi {
    background-color: #ffac0e;
    border: none;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    font-size: 16px;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.voltooi:hover {
    background-color: 	#f8c466;
    transition-duration: 0.5s;
}
